

services:
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/app:/app
      - ./shared:/app/shared
      # - ./uploads:/uploads
      - /app/node_modules
    networks:
      - net

networks:
  net:
    driver: bridge
