@import "tailwindcss";



@font-face {
	font-family: "Dune_Rise";
	src: url("./fonts/Dune_Rise.ttf") format("truetype");
}

@theme {
	--font-display: "Dune_Rise", "sans-serif";
}

html {
	font-size: 16px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	user-select: none;
}

.close_eye {
	display: inline-block;
	width: 20px;
	height: 20px;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M2.854 2.146a.5.5 0 1 0-.708.708l3.5 3.498a8.1 8.1 0 0 0-3.366 5.046a.5.5 0 1 0 .979.204a7.1 7.1 0 0 1 3.108-4.528L7.95 8.656a3.5 3.5 0 1 0 4.884 4.884l4.313 4.314a.5.5 0 0 0 .708-.708zm7.27 5.857l3.363 3.363a3.5 3.5 0 0 0-3.363-3.363M7.53 5.41l.803.803A6.6 6.6 0 0 1 10 6c3.206 0 6.057 2.327 6.74 5.602a.5.5 0 1 0 .98-.204C16.943 7.673 13.693 5 10 5c-.855 0-1.687.143-2.469.41'/%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.open_eye {
	display: inline-block;
	width: 20px;
	height: 20px;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath fill='%23000' d='M25.257 16h.005h-.01zm-.705-.52c.1.318.387.518.704.52c.07 0 .148-.02.226-.04c.39-.12.61-.55.48-.94C25.932 14.93 22.932 6 14 6S2.067 14.93 2.037 15.02c-.13.39.09.81.48.94c.4.13.82-.09.95-.48l.003-.005c.133-.39 2.737-7.975 10.54-7.975c7.842 0 10.432 7.65 10.542 7.98M9 16a5 5 0 1 1 10 0a5 5 0 0 1-10 0'/%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.form::before {
	content: "";
	position :absolute;
	top: -1vh;
	left: -1vh;
	right: -1vh;
	bottom: -1vh;
	color : #aa8024;
	border: 0.1vw solid #aa8024;
	pointer-events: none;
}

button {
	font-family: 'Dune_Rise';
}




.ic--round-home,
.mdi--podium-gold,
.fa-solid--user-friends,
.ph--gear-six-fill,
.game-icons--flying-beetle,
.fa-solid--id-card,
.mingcute--notification-fill,
.heroicons-solid--chat {
	display: inline-block;
	color: #aa8024;
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

.ic--round-home {
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M10 19v-5h4v5c0 .55.45 1 1 1h3c.55 0 1-.45 1-1v-7h1.7c.46 0 .68-.57.33-.87L12.67 3.6c-.38-.34-.96-.34-1.34 0l-8.36 7.53c-.34.3-.13.87.33.87H5v7c0 .55.45 1 1 1h3c.55 0 1-.45 1-1'/%3E%3C/svg%3E");
}

.mdi--podium-gold {
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m12 7.09l2.45 1.49l-.65-2.81L16 3.89l-2.89-.25L12 1l-1.13 2.64L8 3.89l2.18 1.88l-.68 2.81zM15 23H9V10h6zM1 17v6h6v-6zm4 4H3v-2h2zm12-8v10h6V13zm4 8h-2v-6h2z'/%3E%3C/svg%3E");
}

.fa-solid--user-friends {
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3Cpath fill='%23000' d='M192 256c61.9 0 112-50.1 112-112S253.9 32 192 32S80 82.1 80 144s50.1 112 112 112m76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C51.6 288 0 339.6 0 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2M480 256c53 0 96-43 96-96s-43-96-96-96s-96 43-96 96s43 96 96 96m48 32h-3.8c-13.9 4.8-28.6 8-44.2 8s-30.3-3.2-44.2-8H432c-20.4 0-39.2 5.9-55.7 15.4c24.4 26.3 39.7 61.2 39.7 99.8v38.4c0 2.2-.5 4.3-.6 6.4H592c26.5 0 48-21.5 48-48c0-61.9-50.1-112-112-112'/%3E%3C/svg%3E");
}

.ph--gear-six-fill {
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23000' d='M237.94 107.21a8 8 0 0 0-3.89-5.4l-29.83-17l-.12-33.62a8 8 0 0 0-2.83-6.08a111.9 111.9 0 0 0-36.72-20.67a8 8 0 0 0-6.46.59L128 41.85L97.88 25a8 8 0 0 0-6.47-.6a111.9 111.9 0 0 0-36.68 20.75a8 8 0 0 0-2.83 6.07l-.15 33.65l-29.83 17a8 8 0 0 0-3.89 5.4a106.5 106.5 0 0 0 0 41.56a8 8 0 0 0 3.89 5.4l29.83 17l.12 33.63a8 8 0 0 0 2.83 6.08a111.9 111.9 0 0 0 36.72 20.67a8 8 0 0 0 6.46-.59L128 214.15L158.12 231a7.9 7.9 0 0 0 3.9 1a8.1 8.1 0 0 0 2.57-.42a112.1 112.1 0 0 0 36.68-20.73a8 8 0 0 0 2.83-6.07l.15-33.65l29.83-17a8 8 0 0 0 3.89-5.4a106.5 106.5 0 0 0-.03-41.52M128 168a40 40 0 1 1 40-40a40 40 0 0 1-40 40'/%3E%3C/svg%3E");
}

.game-icons--flying-beetle {
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M256 29.3c-17.2 0-31 13.77-31 31s13.8 31 31 31s31-13.77 31-31s-13.8-31-31-31m-69.6 31.97L101 129.5l48.3 112.7l1.7-1.7v-5.2h.2c.5-9.3 1.6-18 3.5-26.1L123 135.1l74.6-59.77zm139.2 0l-11.2 14.06L389 135.1l-31.7 74.1c1.9 8.1 3 16.8 3.5 26.1h.2v5.2l1.7 1.7L411 129.5zM183 116.3c0 15.5 3.6 27.9 9.1 38.3c4.9-3 10.2-5.6 15.9-7.7c-4.4-8.1-7-17.7-7-30.6zm128 0c0 12.9-2.6 22.5-7 30.6c5.7 2.1 11 4.7 15.9 7.7c5.5-10.4 9.1-22.8 9.1-38.3zm-55 41c-30.5 0-51.8 7.5-65.6 21.4c-13 13-20.3 32.5-21.2 60c58.3 27.5 115.3 27.5 173.6 0c-.9-27.5-8.2-47-21.2-60c-13.8-13.9-35.1-21.4-65.6-21.4m-120.6 98.8l-45.55 5.1c1.36 12.5 4.43 22.8 9.67 30.8zm241.2 0l35.9 35.9c5.3-8 8.4-18.3 9.7-30.8zM169 258.4v113.9c0 13.8 4.8 23 12.2 30c7.4 6.9 17.7 11.4 28.3 13.1c10.5 1.8 21.2.7 28.2-2c7.1-2.7 9.3-5.6 9.3-9.1v-86.6h18v86.6c0 3.5 2.2 6.4 9.3 9.1c7 2.7 17.7 3.8 28.2 2c10.6-1.7 20.9-6.2 28.3-13.1c7.4-7 12.2-16.2 12.2-30V258.4c-57.6 25-116.4 25-174 0m-97.07 4.8l-46.43 5.1c1.81 25.3 11.87 50.5 26.68 71.1l34.4-34.5c-8.69-11.6-12.96-25.9-14.65-41.7m368.17 0c-1.7 15.8-6.1 30.1-14.7 41.7l34.4 34.4c14.8-20.6 24.9-45.8 26.7-71zM151 266.1l-38.6 38.6c8.8 5.7 21.1 9.4 38.6 10.4zm210 0v49c17.5-1 29.8-4.7 38.6-10.4zM99.46 317.6l-35.77 35.8c2.08 2.2 4.23 4.4 6.43 6.4c24.66 22.9 54.18 33.3 80.88 22.8v-49.5c-22-1.1-39-6.4-51.54-15.5m313.04 0C400 326.7 383 332 361 333.1v49.4c26.7 10.5 56.2.1 80.9-22.8c2.2-2 4.3-4.1 6.4-6.3zM183 425.4V448l34.6 34.7l12.8-12.8l-29.4-29.3v-8.5c-6.1-1.5-12.3-3.7-18-6.7m146 0c-5.7 3-11.9 5.2-18 6.7v8.5l-29.4 29.3l12.8 12.8L329 448z'/%3E%3C/svg%3E");
}

.fa-solid--id-card {
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23000' d='M528 32H48C21.5 32 0 53.5 0 80v16h576V80c0-26.5-21.5-48-48-48M0 432c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V128H0zm352-232c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8zm0 64c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8zm0 64c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8zM176 192c35.3 0 64 28.7 64 64s-28.7 64-64 64s-64-28.7-64-64s28.7-64 64-64M67.1 396.2C75.5 370.5 99.6 352 128 352h8.2c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h8.2c28.4 0 52.5 18.5 60.9 44.2c3.2 9.9-5.2 19.8-15.6 19.8H82.7c-10.4 0-18.8-10-15.6-19.8'/%3E%3C/svg%3E");
}

.mingcute--notification-fill {
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='m12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M12 2a7 7 0 0 0-7 7v3.528a1 1 0 0 1-.105.447l-1.717 3.433A1.1 1.1 0 0 0 4.162 18h15.676a1.1 1.1 0 0 0 .984-1.592l-1.716-3.433a1 1 0 0 1-.106-.447V9a7 7 0 0 0-7-7m0 19a3 3 0 0 1-2.83-2h5.66A3 3 0 0 1 12 21'/%3E%3C/g%3E%3C/svg%3E");
}

.heroicons-solid--chat {
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M18 10c0 3.866-3.582 7-8 7a8.84 8.84 0 0 1-4.083-.98L2 17l1.338-3.123C2.493 12.767 2 11.434 2 10c0-3.866 3.582-7 8-7s8 3.134 8 7M7 9H5v2h2zm8 0h-2v2h2zM9 9h2v2H9z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.ic--round-home::before,
.mdi--podium-gold::before,
.fa-solid--user-friends::before,
.ph--gear-six-fill::before,
.game-icons--flying-beetle::before,
.fa-solid--id-card::before,
.mingcute--notification-fill::before,
.heroicons-solid--chat::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0%;
	/* background: #fff; */
	/* background: rgba(255, 255, 255, 0.4); */
	background: #ffd580;
	transition: height 0.5s ease-in-out;
	z-index: 1;
}

.opt_menu:hover .ic--round-home::before,
.opt_menu:hover .mdi--podium-gold::before,
.opt_menu:hover .fa-solid--user-friends::before,
.opt_menu:hover .ph--gear-six-fill::before,
.opt_menu:hover .game-icons--flying-beetle::before,
.opt_menu:hover .fa-solid--id-card::before,
.opt_menu:hover .mingcute--notification-fill::before,
.opt_menu:hover .heroicons-solid--chat::before {
	height: 100%;
}

.opt_menu:has(input#radio_home:checked):hover .ic--round-home::before,
.opt_menu:has(input#radio_podium:checked):hover .mdi--podium-gold::before,
.opt_menu:has(input#radio_friends:checked):hover .fa-solid--user-friends::before,
.opt_menu:has(input#radio_parameters:checked):hover .ph--gear-six-fill::before,
.opt_menu:has(input#radio_credit:checked):hover .game-icons--flying-beetle::before,
.opt_menu:has(input#radio_profil:checked):hover .fa-solid--id-card::before,
.opt_menu:has(input#radio_notif:checked):hover .mingcute--notification-fill::before,
.opt_menu:has(input#radio_chat:checked):hover .heroicons-solid--chat::before {
	height: 0% !important;
}

.opt_menu:active .ic--round-home,
.opt_menu:active .mdi--podium-gold,
.opt_menu:active .fa-solid--user-friends,
.opt_menu:active .ph--gear-six-fill,
.opt_menu:active .game-icons--flying-beetle,
.opt_menu:active .fa-solid--id-card,
.opt_menu:active .mingcute--notification-fill,
.opt_menu:active .heroicons-solid--chat {
	transform: translateY(2px) scale(0.95);
	filter: brightness(1.2);
	transition: all 0.1s ease-out;
}

input#radio_home:checked + label .ic--round-home,
input#radio_podium:checked + label .mdi--podium-gold,
input#radio_friends:checked + label .fa-solid--user-friends,
input#radio_parameters:checked + label .ph--gear-six-fill,
input#radio_credit:checked + label .game-icons--flying-beetle,
input#radio_profil:checked + label .fa-solid--id-card,
input#radio_notif:checked + label .mingcute--notification-fill,
input#radio_chat:checked + label .heroicons-solid--chat {
	color: #d4ced4;
	transform: translateY(1px);
	filter: brightness(1.1) drop-shadow(0 2px 4px rgba(212, 206, 212, 0.3));
}


/* LOGOUT BUTTON */

.humbleicons--logout {
	display: inline-block;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M20 12h-9.5m7.5 3l3-3l-3-3m-5-2V6a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h5a2 2 0 0 0 2-2v-1'/%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	transition: all 0.3s ease-in-out;
	color: #b11717;
}

/* .opt_menu:hover .humbleicons--logout {
	color: #ff4444;
	transform: translateX(3px) scale(1.15);
	filter: brightness(1.3);
} */

.opt_menu:hover .humbleicons--logout {
    color: #ff4444;
    transform: rotate(-10deg) scale(1.2);
    filter: drop-shadow(0 0 8px rgba(255, 68, 68, 0.5));
}



/* SVG LOUPE */

.mingcute--search-3-line {
	display: inline-block;
	height: 1rem;
	width: 1rem;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M10.5 4a6.5 6.5 0 1 0 0 13a6.5 6.5 0 0 0 0-13M2 10.5a8.5 8.5 0 1 1 15.176 5.262l3.652 3.652a1 1 0 0 1-1.414 1.414l-3.652-3.652A8.5 8.5 0 0 1 2 10.5M9.5 7a1 1 0 0 1 1-1a4.5 4.5 0 0 1 4.5 4.5a1 1 0 1 1-2 0A2.5 2.5 0 0 0 10.5 8a1 1 0 0 1-1-1'/%3E%3C/g%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}


/* SCROLLBAR */

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #aa8024 #35281a;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #35281a;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #aa8024;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c2932d;
}

:root {
	--color-primary: #aa8024;
	--color-primary-light: #e2a727;

	--color-primary-bg: #35281a;
	--color-primary-bg-dark: #2a2116;
}
