global:
  scrape_interval:     15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    metrics_path: /prometheus/metrics
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: cadvisor
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: node-exporter
    static_configs:
      - targets: ['node_exporter:9100']

  - job_name: nginx-exporter
    static_configs:
      - targets: ['nginx-exporter:9113']

rule_files:
  - ./alerts.yml
